<div *ngIf="!voucher.voucherData.purchaseID">
	<div class="voucher">
		<div class="voucher-value">{{ voucher.voucherData.voucherAmount }} {{ voucher.voucherData.currency }}</div>
		<div class="voucher-text">Cash in voucher</div>
		<div class="voucher-validity">Valid for: 24 hours</div>
		<div class="voucher-instruction">
			You will receive your QR code in the next step and will be also e-mailed to {{ voucher.voucherData.userEmail }}!
		</div>
		<button (click)="purchaseVoucher()">PURCHASE VOUCHER</button>
	</div>
	<div *ngIf="voucher.venues">
		<h2>Venues to buy vouchers:</h2>
		<ul>
			<li *ngFor="let venue of voucher.venues">{{ venue.name }} - {{ venue.address }}</li>
		</ul>
	</div>
</div>

<div *ngIf="voucher.voucherData.purchaseID">
	<div class="notification">
		<h2 class="title-green">Voucher purchased</h2>
    	<p>An e-mail with instructions and QR code below is sent to you: {{ voucher.voucherData.userEmail }}</p>
	</div>
	<div class="voucher">
		<div class="voucher-value">{{ voucher.voucherData.voucherAmount }} {{ voucher.voucherData.currency }}</div>
		<div class="voucher-text">Cash in voucher</div>
		<div class="voucher-validity">Expires in: {{ voucher.voucherData.expiresAt }}</div>
		<qrcode [qrdata]="voucher.voucherData.purchaseID" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
	</div>
</div>


